<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/css/home.css}">
<title>Movie Ticket App</title>
</head>
<body>
<div class="container">
    <h1>Movies</h1>
    <section class="product">
        <h2 class="product-category">Recommended Movies</h2>
        <button class="pre-btn"><img th:src="@{/img/arrow.png}" alt=""></button>
        <button class="nxt-btn"><img th:src="@{/img/arrow.png}" alt=""></button>
        <div class="product-container">
            <div class="product-card" th:each="movie : ${movies}">
                <div class="product-image">
                    <img th:src="${movie.moviePosterUrl}" alt="product" class="...">
                </div>
                <div class="product-info">
					<span class="price">rating</span><span class="actual-price">$40</span>
                    <h2><a th:href="@{'/moviebycity/' + ${movie.cityname} + '/' + ${movie.movieName}}" th:text="${movie.movieName}">Title</a></h2>
                    <p class="product-short-des" th:text="${movie.movieTags}">a short line about the cloth..</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<script th:src="@{/js/home.js}"></script>
</html>